/* line 3, ../scss/_main_styles.scss */
footer a, footer a:link, footer a:visited {
  color: #cfb87c !important;
}

/* line 1, ../scss/components/_blocks.scss */
.block {
  margin-bottom: 20px;
}

/* line 4, ../scss/components/_blocks.scss */
#block-system-main,
.block-express-layout {
  margin-bottom: 0;
}

/* line 8, ../scss/components/_blocks.scss */
.new-block-row {
  clear: both;
}
